{% extends 'base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if posts %}
          <div class="card-grid">
            {% for post in posts %}
              {% include 'partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
        {% else %}
          {% include 'partials/_not-found.html' %}
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}